:root {
  --celeste: #c8daf7;
  --azul_claro: #849ec7;
  --azul_oscuro: #192048;
  --texto_blanco: antiquewhite;
  --tipografia_CV: 'Rift-Bold', sans-serif;
  --tipografia_titulos: "Montserrat-Regular";
}

.img_carrusel {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (max-width: 575.98px) {
  .carousel-item {
    height: 15rem; /* Pantallas extra pequeñas (xs) */
  }
}

@media (min-width: 576px) and (max-width: 991.98px) {
  .carousel-item {
    height: 20rem; /* Pantallas pequeñas (sm) y medianas (md) */
  }
}

@media (min-width: 992px) {
  .carousel-item {
    height: 25rem; /* Pantallas grandes (lg) y extra grandes (xl) */
  }
}

.barra {
  background-color: var(--azul_oscuro);
  color: var(--texto_blanco);
  font-family: var(--tipografia_titulos);
}

.barra h1 {
  font-family: var(--tipografia_CV);
}

.link_menu, .link_menu:active, .link_menu:visited, .link_menu:hover, .link_menu:active, .navbar-nav .nav-link.active, .navbar-nav .nav-link.show{
  color: var(--texto_blanco);
}

.contenido {
  background-color: var(--celeste);
}

.intereses {
  background-color: var(--azul_claro);
}

.intereses h2 {
  font-family: var(--tipografia_titulos);
}

.foot {
  background-color: var(--azul_oscuro);
  color: var(--texto_blanco);
  font-family: var(--tipografia_titulos);
}

.foot-email{
  color: var(--texto_blanco);
}

.etiqueta {
  background-color:aliceblue;
  text-align: justify;
}

.texto_azul {
  color: var(--azul_oscuro);
  font-family: var(--tipografia_titulos);
  text-align: center;
  font-weight: bold;
}

.logo_estudios {
  height: 6rem;
  object-fit: contain;
}
.navbar-toggler:focus{
  box-shadow: none;
}